<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>83</ApplicationRevision>
    <ApplicationVersion>5.1.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\54.238.248.117\XelsInstallerUpdater\cc-fed-peg\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>False</MapFileExtensions>
    <MinimumRequiredVersion>5.1.0.58</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Xels-Fed</ProductName>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>Xels</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>Xels</SuiteName>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>\\54.238.248.117\XelsInstallerUpdater\cc-fed-peg\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2021-11-25T09:02:49.1662861Z;True|2021-11-24T15:29:00.2844692+06:00;True|2021-11-22T23:57:48.0338108+06:00;True|2021-11-22T18:03:39.0514309+06:00;True|2021-11-19T14:21:37.3887130+06:00;True|2021-11-17T01:02:30.0513977+06:00;True|2021-11-17T00:23:03.3267156+06:00;True|2021-11-12T20:08:41.1255623+06:00;True|2021-11-09T16:08:03.8040777+06:00;True|2021-11-04T23:36:58.9885601+06:00;True|2021-11-04T01:40:03.7964758+06:00;True|2021-11-04T00:23:42.9524938+06:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.3.1.x64">
      <Install>True</Install>
      <ProductName>.NET Core Runtime 3.1.16 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>