<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>25</ApplicationRevision>
    <ApplicationVersion>5.1.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\54.238.248.117\XelsInstallerUpdater\cc-fed-peg\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>71FF2BE7998CC35E65698438A30A55E7DE6447D7</ManifestCertificateThumbprint>
    <ManifestKeyFile>XelsSigningKey.pfx</ManifestKeyFile>
    <MapFileExtensions>False</MapFileExtensions>
    <MinimumRequiredVersion>5.1.0.1</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>XELS-Federated-Gateway</ProductName>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>Xels.io</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha1RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SuiteName>Decntralized Ecological Economy Platform</SuiteName>
    <SupportUrl>https://xels.io</SupportUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>\\54.238.248.117\XelsInstallerUpdater\cc-fed-peg\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2021-08-23T15:16:14.3283226Z;True|2021-08-22T22:57:06.6329217+06:00;True|2021-08-21T21:30:46.8270230+06:00;True|2021-08-19T21:09:05.9865478+06:00;True|2021-08-18T18:47:00.7265169+06:00;True|2021-08-17T20:32:14.7116121+06:00;True|2021-08-16T04:30:20.2626281+06:00;True|2021-08-13T23:42:38.6568145+06:00;True|2021-08-13T17:47:38.9172681+06:00;True|2021-08-10T18:01:55.0563256+06:00;True|2021-08-09T02:10:52.4745205+06:00;True|2021-08-08T23:36:49.2651592+06:00;True|2021-08-06T17:05:22.2970207+06:00;True|2021-08-03T19:14:12.0970902+06:00;True|2021-08-03T18:04:27.2909614+06:00;True|2021-08-03T13:50:07.8414731+06:00;True|2021-07-28T21:49:56.0862468+06:00;True|2021-07-25T01:55:46.0699029+06:00;True|2021-07-23T21:46:07.9842910+06:00;True|2021-07-18T21:33:01.6353709+06:00;True|2021-07-18T19:01:50.2180774+06:00;True|2021-07-16T14:49:39.0548497+06:00;False|2021-07-16T14:26:43.9220679+06:00;True|2021-07-16T14:20:32.3209741+06:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.3.1.x64">
      <Install>True</Install>
      <ProductName>.NET Core Runtime 3.1.16 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>