<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>22</ApplicationRevision>
    <ApplicationVersion>5.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\54.238.248.117\XelsInstallerUpdater\cc-fed-peg\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>71FF2BE7998CC35E65698438A30A55E7DE6447D7</ManifestCertificateThumbprint>
    <MapFileExtensions>False</MapFileExtensions>
    <MinimumRequiredVersion>5.0.0.2</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>XELS-Federated-Gateway</ProductName>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>Xels.io</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha1RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SuiteName>Decntralized Ecological Economy Platform</SuiteName>
    <SupportUrl>https://xels.io</SupportUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>\\54.238.248.117\XelsInstallerUpdater\cc-fed-peg\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2021-07-09T08:32:14.2154980Z;True|2021-07-08T21:32:31.1976420+06:00;True|2021-07-08T19:35:14.4762451+06:00;True|2021-07-08T18:26:23.0477533+06:00;True|2021-07-08T12:29:05.6921105+06:00;True|2021-07-07T18:28:56.8959237+06:00;True|2021-07-05T20:16:25.3318251+06:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.3.1.x64">
      <Install>True</Install>
      <ProductName>.NET Core Runtime 3.1.16 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>