<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>25</ApplicationRevision>
    <ApplicationVersion>5.1.0.*</ApplicationVersion>
    <AutorunEnabled>True</AutorunEnabled>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <ErrorReportUrl>https://xels.io/contact</ErrorReportUrl>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\54.238.248.117\XelsInstallerUpdater\xels-wpf-miner\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>D707F84120EFB63D7FECD3DBF43416CAB6086C9C</ManifestCertificateThumbprint>
    <ManifestKeyFile>XelsSigningKey.pfx</ManifestKeyFile>
    <MapFileExtensions>False</MapFileExtensions>
    <MinimumRequiredVersion>5.1.0.1</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Xels</ProductName>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>Xels Inc.</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SuiteName>Xels</SuiteName>
    <SupportUrl>https://xels.io/contact</SupportUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>\\54.238.248.117\XelsInstallerUpdater\xels-wpf-miner\</UpdateUrl>
    <WebPageFileName>Publish.htm</WebPageFileName>
    <History>True|2021-08-13T17:43:35.8558907Z;True|2021-08-13T17:45:05.1499618+06:00;True|2021-08-10T17:59:48.6843780+06:00;True|2021-08-09T02:12:24.6074051+06:00;True|2021-08-08T20:25:35.8471413+06:00;True|2021-08-06T17:04:40.0632864+06:00;True|2021-08-05T23:03:55.0230452+06:00;True|2021-08-03T19:13:08.0363785+06:00;True|2021-08-03T18:03:55.8501888+06:00;True|2021-08-03T13:37:34.3892001+06:00;True|2021-08-02T23:28:16.7278791+06:00;True|2021-07-28T21:51:00.7104299+06:00;True|2021-07-28T12:51:04.2896167+06:00;True|2021-07-25T01:54:15.1847502+06:00;True|2021-07-23T21:45:25.6861111+06:00;True|2021-07-23T14:32:45.4614388+06:00;True|2021-07-21T02:27:43.3691730+06:00;True|2021-07-19T17:47:24.9112065+06:00;True|2021-07-18T17:27:07.1805881+06:00;True|2021-07-18T00:00:04.3665748+06:00;True|2021-07-17T00:30:14.6786815+06:00;True|2021-07-16T14:51:28.7852043+06:00;True|2021-07-16T14:02:08.2239704+06:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.3.1.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 3.1.16 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>